@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px; /* Vékonyabb, modernebb megjelenés */
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.2); /* Nagyon halvány, áttetsző sötétkék háttér */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(30, 58, 138, 0.5); /* Sötétkék, félig átlátszó csúszka */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05); /* Leheletnyi üveges élfény */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(30, 58, 138, 0.8); /* Egér felette: kicsit sötétebb és jobban látható */
}

html, body, #root {
  background-color: #020617; /* Ez pontosan a Tailwind bg-slate-950 színkódja */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}