@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(30, 58, 138, 0.5); 
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(30, 58, 138, 0.8); 
}

html, body, #root {
  background-color: #020617;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}